body {
  padding-top: 90px;
}
@media screen and (min-width: 751px) {

  .border_box {
    position: relative;
    width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .border_box::before, .border_box::after {
    position: absolute;
    content: '';
    width: 220px;
    height: 95px;
  }

  .border_box::before {
    border-left: solid 1px #dcdcdc;
    top: -42px;
    left: -10px;
  }

  .border_box::after {
    border-right: solid 1px #dcdcdc;
    bottom: -42px;
    right: -10px;
  }

  .container {
    position: relative;
    padding: 30px;
    display: flex;
    width: 900px;
    flex-direction: row-reverse;
    background-color: #f4f8f8;
    margin: 0 auto;
  }

  .container::before {
    border-top: solid 1px #dcdcdc;
    top: -12px;
    left: -10px;
  }

  .container::after {
    border-bottom: solid 1px #dcdcdc;
    bottom: -12px;
    right: -10px;
  }

  .container::before, .container::after {
    position: absolute;
    content: '';
    width: 250px;
    height: 60px;
  }

  .container::before {
    border-top: solid 1px #dcdcdc;
    top: -12px;
    left: -35px;
  }

  .container::after {
    border-bottom: solid 1px #dcdcdc;
    bottom: -12px;
    right: -35px;
  }


  .text_container {
    display: flex;
    padding: 30px;
    margin: 0 auto;
  }

  .texts {
    flex-direction: column;
  }

  .profile_container {
    display: flex;
    flex-direction: column;
    margin: -120px 0 auto;
  }

  .profile_picture {
    width:180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .position {
    font-size: 13px;
    margin: 0;
    text-align: center;
  }

  .name {
    text-align: center;
    font-size: 24px;
    margin: 12px 0px 12px 0px;
  }

  .link {
    color: blue;
  }

  .link:visited {
    color: blue;
  }
}

@media screen and (max-width: 750px) {

  .border_box {
    position: relative;
    width: 440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .border_box::before, .border_box::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 70px;
  }

  .border_box::before {
    border-left: solid 1px #dcdcdc;
    top: -17px;
    left: -5px;
  }

  .border_box::after {
    border-right: solid 1px #dcdcdc;
    bottom: -9px;
    right: -5px;
  }

  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 55px;
    background-color: #f4f8f8;
  }

  .container::before {
    border-top: solid 1px #dcdcdc;
    top: -17px;
    left: -10px;
  }

  .container::after {
    border-bottom: solid 1px #dcdcdc;
    bottom: -12px;
    right: -10px;
  }

  .container::before, .container::after {
    position: absolute;
    content: '';
    width: 90px;
    height: 70px;
  }

  .container::before {
    border-top: solid 1px #dcdcdc;
    top: -9px;
    left: -10px;
  }

  .profile_container {
    display: flex;
    flex-direction: column;
    margin: -120px auto;
    text-align: center;
  }

  .profile_picture {
    width:180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin: 0 auto;
  }

  .name {
    text-align: center;
    font-size: 18px;
    margin: 12px 0px 12px 0px;
    font-weight: bold;
  }

  .texts{
    margin-top: 120px;
  }

  .company_name {
    margin-top: 12px;
    margin-bottom: 0px;
  }
  .company_position {
    margin: 0 auto;
  }
  .name {
    text-align: center;
    font-size: 24px;
    margin: 12px 0px 12px 0px;
    display: block;
  }

  .texts div {
    text-align: right;
  }

  .link {
    color: blue;
  }

  .link:visited {
    color: blue;
  }
}
